.about {
  width: 70%;
  margin: auto;
  text-align: center;
  font-size: 1vw;
  height: 100vh;
  position: relative;
  padding-top: 20vh;
}
.about__title {
  font-size: 2rem;
  text-transform: uppercase;
}
.about__container{
    position: relative;
    height:50vh;
    display: flex;
    align-items: center;
}
.about ul {
  list-style-position: inside;
}
.about__slide {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__slide--one {
 
}
.about__slide--one span {
  line-height: 3rem;
}
.about__slide--two {
  width: 50%;
  left: 0;
  right: 0;
  margin: auto;
}

.button__container {
  position: absolute;
  bottom:0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.about__slide--button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #9fb5db;
  font-size: 2rem;
}
.circle__container {
  display: flex;
  width: 5vw;
}
.button__circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #b2696e;
  margin: auto;
  cursor: pointer;
}
.button__circle--active {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #9fb5db;
  margin: auto;
  cursor: pointer;
}
