@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// === Settings =====
%font-settings {
  font-family: "Gilroy ExtraBold", system-ui, sans-serif;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}

.white-font {
  @extend %font-settings;
  color: #e5e5e5;
}
.accent-font {
  @extend %font-settings;
  color: #b2696e;
}
.blue-font {
  @extend %font-settings;
  color: #9fb5db;
}
.creepy-font {
  font-family: "Nothing You Could Do", cursive ;
}
