// === Settings =====
%font-settings {
    font-family: "Gilroy ExtraBold", system-ui, sans-serif;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-font-kerning: normal;
    -webkit-text-size-adjust: 100%;
  }
.approve-text {
    @extend %font-settings;
    position: absolute;
    top: 35%;
    text-align: center;
    width: 100%;
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 3rem;
    height:100vh;
    
  }
  .approve-text__medium{
      font-size: 1.5rem;
      line-height: 0.5rem;
  }
  .circle-container{
    width:100%;
    position: relative;
    top:10px
  }
  .circle{
    left:50%;
    position: absolute;
    margin:auto;
    width:10px;
    height:10px;
    border-radius: 100%;
    background-color:red;
  }
  .circle-one{
    background-color:red;
  }
  .circle-two{
    background-color:blue;
  }
  .circle-three{
    background-color:yellow;
  }

  @media only screen and (max-width: 600px) {
    .approve-text {
        font-size: 3rem
    }
    .approve-text__medium{
        font-size: 1rem
    }
  }