.donate {
  position: fixed;
  left: 0;
  bottom: 5rem;
  background-color: #b2696e;
  display: flex;
  align-items: center;
  transition-duration: 0.5s;
  z-index: 2;
}
.pill {
  width: 2rem;
  padding: 0.5rem 0;
}
.donate:hover > .pill {
  animation: shake 0.2s infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-4deg);
  }
  66% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media only screen and (max-width: 1025px) {
  .donate {
    text-align: center;

    writing-mode: vertical-rl;
  }
}
