.emojis {
  
  width: 70%;
  margin: auto;
  text-align: center;
}

.emojis__container {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fill, minmax(8vw, 1fr));
  grid-auto-rows: 5vw;
  justify-items: center;
}
.emoji {
  max-width: 4vw;
  height: auto;
  opacity: 0;
}
.emoji-animated {
  max-width: 4vw;
  height: auto;
  animation: emoji__animation 500ms forwards;
  opacity: 0;
}
.emojis__title{
  opacity:0;
  transition-duration: 1s;
  transition-delay: 1s;
}
@keyframes emoji__animation {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media only screen and (max-width: 700px) {
  .emojis {
    
    width: 70%;
    
  }
  .emojis__container {
    
    grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
    grid-auto-rows: 15vw;
    
  }
  .emoji {
    max-width: 10vw;
    
  }
  .emoji-animated {
    max-width: 10vw;
   
  }
}
@media only screen and (min-width: 701px) and (max-width: 1025px) {
  .emojis {
    
    width: 70%;
    
  }
  .emojis__container {
    
    grid-template-columns: repeat(auto-fill, minmax(10vmin, 1fr));
    grid-auto-rows: 10vmin;
    
  }
  .emoji {
    max-width: 7vmin;
    
  }
  .emoji-animated {
    max-width: 7vmin;
   
  }
}
