.emojis{
    height:30vh;
    display: grid;
    width:70%;
    margin:auto;
    grid-template-columns:repeat(auto-fill, minmax(7vw, 1fr)) ;
    grid-auto-rows: 7vw;
    justify-items: center;
}
.emoji{
    max-width: 5vw;
    height:auto;
    
    opacity:0
}
.emoji-animated{
    max-width: 5vw;
    height:auto;
    animation: emoji__animation 1000ms forwards;
    opacity:0
}
@keyframes emoji__animation{
    0%{
        opacity: 0;
        transform: translateX(-100px)
    };
    100%{
        opacity:1;
        transform: translateX(0px)
    }
}
