// === Settings =====
%font-settings {
  font-family: "Berkshire Swash", system-ui, cursive;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}
.home-text__container {
  height: 100vh;
  display: grid;
  place-content: center;
}
.home-text__big {
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 12rem;
  text-transform: uppercase;
  color:#e5e5e5
}
.home-text__big span{
 
}

@media only screen and (max-width: 700px) {
  .home-text__big {
    
    width: 100%;
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1025px) {
  .home-text__big {
   
    width: 100%;
    font-size: 3.5rem;
  }
}