body{
  background-color: #111012;
}
.main-screen{
  overflow-y: auto;
  overflow-x: hidden;
  height:100vh
}
.top-nav {
    text-align: center;
    width: 70%;
    margin:auto;
    padding: 1rem 0 1rem 0;
    font-size: 1.3rem;
    font-weight: bold;
    display:flex;
    justify-content: space-around;
    position: fixed;
    left:0;
    right:0;
    margin:auto;
    z-index: 9999;
    background-color: rgba($color: #111012, $alpha: 0.9);
  }
  .top-nav__logo{
    height: 4rem;
  }
  .top-nav__item{
    align-self: center;
    
  }
  .top-nav a{
    text-decoration: none;
    color:inherit
  }
