.merchandise {
  height: 100vh;
  overflow-y: scroll;
}
.merchandise-text__big {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12rem;
  text-transform: uppercase;
  color: #e5e5e5;
}

@media only screen and (max-width: 1025px) {
  .merchandise-text__big {
    width: 100%;
    font-size: 3.5rem;
  }
}
