.merchandise {
  height: 100vh;
  overflow-y: scroll;
}
.merchandise-text__big {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12rem;
  text-transform: uppercase;
  color: #e5e5e5;
}
.red-bubble-container-outer {
  min-height: 80vh;
  margin-top: 20vh;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
.red-bubble-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.red-bubble-image-container {
  overflow: hidden;
}

.red-bubble-image {
  max-width: 100%;
  transition: 300ms;
}
.red-bubble-image:hover {
  transform: scale(1.2);
}
.red-bubble-container p {
  text-align: center;
  padding-bottom: 20px;
  font-size: 20px;
  width: 100%;
}

.red-bubble-link {
  padding-left: 5px;
  font-size: 25px;
  transition-duration: 0.2s;
  text-shadow: 0 0 1px #b2696e, 0 0 4px #b2696e, 0 0 4px #b2696e,
    0 0 4px #b2696e, 0 0 4px #b2696e, 0 0 4px #b2696e;
  text-decoration: none;
  color: white;
}
.red-bubble-link:hover {
  color: #b2696e;
  text-shadow: 0 0 5px black, 0 0 7px #b2696e, 0 0 9px #b2696e, 0 0 10px #b2696e,
    0 0 10px #b2696e, 0 0 40px #b2696e;
}

@media only screen and (max-width: 1025px) {
  .red-bubble-container-outer {
    width: 90%;
    min-height: 50vh;
  }
  .merchandise-text__big {
    width: 100%;
    font-size: 3.5rem;
  }
  .red-bubble-link {
    display: block;
  }
}
