.staff-container {
  margin-top: 30rem;
  
}
.staff-card {
    padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  position: relative;
}
.staff-card__text{
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: rgba($color: #000000, $alpha: 0.3);
}
.staff-card__image {
  max-width: 17vw;
  height: auto;
}
.staff-card__image--animated {
  max-width: 17vw;
  height: auto;
  animation: image1-animation 10s infinite;
}
.staff-card__image2 {
  position: absolute;
  max-width: 17vw;
  height: auto;
  left: 0;
}
.staff-card__image2--animated {
  position: absolute;
  max-width: 17vw ;
  max-height: auto;
  left: 0;
  animation: image2-animation 10s infinite;
}
@keyframes image1-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes image2-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.staff-card__text--title {
  font-size: 3vw;
}
.staff-card__text--desc {
  font-size: 0.8vw;
  text-align: justify;
  white-space: pre-wrap
  
}
@media only screen and (max-width: 600px){
  .staff-container {
    margin-top: 100vh;
    
  }
  .staff-card {
  display:grid;
  justify-items: center;
  width:90vw;
}
.staff-card__image {
  max-width: 90vw;
  height: auto;
}
.staff-card__text--title {
  font-size: 3rem;
}
.staff-card__text--desc {
  font-size: 1rem;
  text-align: justify;
  white-space: pre-wrap
  
}
}