.staff-container {
  padding-top: 20vh;
}
.staff-title {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}
.staff-animated {
  opacity: 0;
}
.staff-card {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: auto;
  position: relative;
  transition-duration: 1s;
}
.staff-card__blue{
  @extend .staff-card;
}
.staff-card__text {
  margin-left: 0rem;
  margin-right: 0rem;
  padding: 0.5rem;
  height: auto;
  display: grid;
}
.staff-card__text--title {
  font-size: 2rem;
}
.staff-card__text--desc {
  text-align: justify;
  white-space: pre-wrap;
}
.staff-card__text--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.staff-card__text--bottom {
  display: grid;
}
.staff-card__text--tags {
  display: flex;
  justify-self: right;
  align-self: baseline;
  padding-top: 1%;
}
.staff-card__text--tag {
  border: 1px solid #b2696e;
  border-radius: 5px;
  padding: 0.2rem;
}
.staff-card__text--role {
  @extend .staff-card__text--tag;
  margin-right:1rem
}

.staff-card__image {
  max-width: 12vw;
  height: auto;
}
.staff-card__image--animated {
  position: relative;
  max-width: 12vw;
  height: auto;
  animation: image1-animation 10s infinite;
}

.staff-card__image2--animated {
  position: absolute;
  max-width: 12vw;
  max-height: auto;
  left: 0;

  animation: image2-animation 10s infinite;
}
@keyframes image1-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes image2-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 700px) {
  .staff-title {
    font-size: 1.5rem;
  }
  .staff-container {
    margin-top: 20vh;
  }
  .staff-card {
    display: grid;
    justify-items: center;
    width: 80vmin;
    margin-bottom: 5rem;
    border: 1px solid #b2696e;
    padding-bottom: 1rem;
  }
  .staff-card__blue{
    display: grid;
    justify-items: center;
    width: 80vmin;
    margin-bottom: 5rem;
    border: 1px solid #9fb5db;
    padding-bottom: 1rem;
   
  }
  .staff-card__image--container {
    position: relative;
  }
  .staff-card__image {
    max-width: 70vmin;
  }
  .staff-card__image--animated {
    max-width: 70vmin;
  }
  .staff-card__image2 {
    max-width: 70vmin;
  }

  .staff-card__image2--animated {
    max-width: 70vmin;
  }
  .staff-card__text {
    padding: 0;
    margin: 0;
  }
  .staff-card__text--top {
    justify-content: center;
  }
  .staff-card__text--bottom {
    display: grid;
    grid-template-areas: "a" "b";
    row-gap: 1rem;
    margin-top: 1rem;
  }
  .staff-card__text--tags {
    justify-self: center !important;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .staff-card__text--tag {
    font-size: 1rem;
  }
  .staff-card__text--role {
  
    margin-right:0
  }
  .staff-card__text--title {
    text-align: center;
    font-size: 2rem;
  }

  .staff-card__text--desc {
    grid-area: b;
    font-size: 1rem;
    text-align: center;
    white-space: pre-wrap;
    width: 70vmin;
  }
}
// The same as above for now
@media only screen and (min-width: 701px) and (max-width: 1025px) {
  .staff-title {
    font-size: 1rem;
  }
  .staff-container {
    margin-top: 20vh;
  }
  .staff-card {
    display: grid;
    justify-items: center;
    width: 90vmin;
    margin-bottom: 5rem;
    border: 1px solid white;
    padding-bottom: 1rem;
  }
  .staff-card__image--container {
    position: relative;
  }
  .staff-card__image {
    max-width: 50vmin;
  }
  .staff-card__image--animated {
    max-width: 50vmin;
  }
  .staff-card__image2 {
    max-width: 50vmin;
  }

  .staff-card__image2--animated {
    max-width: 50vmin;
  }
  .staff-card__text {
    padding: 0;
    margin: 0;
  }
  .staff-card__text--top {
    display: grid;
    row-gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .staff-card__text--tag {
    font-size: 1rem;
    text-align: center;
  }
  .staff-card__text--title {
    text-align: center;
    font-size: 2rem;
  }

  .staff-card__text--desc {
    font-size: 1rem;
    text-align: justify;
    white-space: pre-wrap;
    width: 70vmin;
  }
}
