.testimonials {
  padding-top: 10vh;
  height: 70vh;
}

.testimonials__title {
  display: flex;
  text-transform: uppercase;
  width: 100%;
  justify-content: center;
  top: 20vh;
  font-size: 2rem;
}
.testimonial-container {
  width: 100%;
  height: 10rem;
  margin: auto;
  font-size: 1vw;
  text-align: center;
  cursor: grab;
  padding-top: 2rem;
}

.carousel-dots li button:before {
  color: #b2696e;
  opacity: 1;
}

.carousel-dots li.carousel-dots-active button:before {
  color: #9fb5db;
}
.testimonial-card {
  width: 30rem;
  height: 10rem;
  padding: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.testimonial-card__title {
  font-size: 1rem;
  text-align: right;
  padding-top: 1rem;
}
.testimonial-card__content {
  font-size: 1rem;
}

@media only screen and (max-width: 700px) {
  .testimonials {
    height: 80vmax;
  }
  .testimonial-card {
    width: 100%;
    height: 25vmax;
    padding: 1rem;
  }
  .testimonials__title {
    font-size: 2.5vmax;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1025px) {
  .testimonials {
    height: 50vmax;
  }
  .testimonials__title {
    font-size: 1rem;
  }
  .testimonial-card {
    width: 100%;
    height: 20vmax;
    padding: 1rem;
  }
}
