.to-top{
    position: fixed;
    text-align: center;
    bottom:2vh;
    right:2vw;
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    border-radius: 100px;
    background-color: #b2696e;
    cursor: pointer;
    transform: scale(0);
    color:#e5e5e5;
    
}
.to-top:hover{
    filter:drop-shadow(0 0 0.7rem #b2696e)
}
@media only screen and (max-width: 1025px) {
    .to-top:hover{
        filter:none
    }
  }